.container{
    width: 100%;
    max-width: 750px;
    margin: 40px auto;
    background: white;
    color: #262626;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
    padding: 25px 25px;
}
.container hr{
    height: 2px;
    border: none;
    background: #707070;
}
.container h2{
    font-size: 15px;
    font-weight: 600;
    text-align: center;
}
.container ul li{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 48px;
    padding-left: 15px;
    border: 1px solid #686868;
    border-radius: 8px;
    margin-bottom: 15px;
    font-size: 18px;
    cursor: pointer;
}
.container button{
    margin: auto;
    width: 190px;
    height: 50px;
    background: #553f9a;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    border-radius: 8px;
    cursor: pointer;
}
.container .index{
    margin: auto;
    font-size: 18px;
}
.container .correct{
    background: #dffff2;
    border-color: #00d397;
}
.container .wrong{
    background:#FFEBEB;
    border-color: #FF4A4A;
}