.container {
    width: 100%;
    max-width: 700px;        /* perfect width */
    margin: 40px auto;
    background: white;
    color: #262626;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 12px;
    padding: 30px 25px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);  /* small shadow */
}

.container hr {
    height: 2px;
    border: none;
    background: #707070;
}

.container h2 {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}

.container ul li {
    display: flex;
    align-items: center;
    height: 48px;
    padding: 0 15px;
    border: 1px solid #686868;
    border-radius: 8px;
    margin-bottom: 12px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.2s ease;
}

.container ul li:hover {
    background: #f4f4f4;
}

.container button {
    margin: auto;
    width: 190px;
    height: 50px;
    background: #553f9a;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    border-radius: 8px;
    cursor: pointer;
}

.container .index {
    margin: auto;
    font-size: 18px;
}

.container .correct {
    background: #dffff2;
    border-color: #00d397;
}

.container .wrong {
    background: #ffebeb;
    border-color: #ff4a4a;
}
