.navbar {
  background: #553f9a;
  padding: 12px 20px;
  display: flex;
  justify-content: center;   
  align-items: center;
  border-radius: 10px;

}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0;
  padding: 0;
}

.navbar li {
  color: white;
  font-weight: 500;
  cursor: pointer;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.logout-btn {
  background: #ff4a4a;
  border: none;
  color: white;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
}
