* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  background: linear-gradient(135deg, #d8c7ff, #19006c);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.form-container {
  width: 380px;
  background: white;
  padding: 35px 30px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.18);
}

.form-toggle {
  display: flex;
  justify-content: center;
  background: #e0e0e0;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 25px;
  width: 100%;
}

.form-toggle button {
  flex: 1;
  padding: 12px 0;
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  transition: 0.3s ease;
}

.form-toggle .active {
  background: #553f9a;
  color: white;
}

.form h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 22px;
}

.form input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 15px;
}

.form a {
  display: block;
  text-align: right;
  margin-bottom: 15px;
  color: #553f9a;
  font-size: 14px;
  text-decoration: none;
}

.form button {
  display: block;
  width: 100%;
  padding: 12px;
  background: #553f9a;
  color: white;
  font-size: 16px;
  font-weight: 500;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  margin: 0 auto;
  margin-top: 10px;
}

.form button:hover {
  background: #452f83;
}

.form p {
  text-align: center;
  font-size: 14px;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  gap: 5px;
}

.form p a {
  color: #553f9a;
  font-weight: 600;
  text-decoration: none;
}
