*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins';
}
body{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(#D8C7FF, #19006C);
  padding: 20px;
}